<!DOCTYPE html>
<html>
    <head>
        <title>Order Processed</title>
    </head>
    <body>
        <h1>Order Processed</h1>
        <p>Dear Customer,</p>
        <p>Your order with ID {{order.orderId}} has been processed.</p>
        <p>Order Details:</p>
        <ul>
            {{#order.items}}
            <li>{{productName}} - Quantity: {{quantity}}, Unit Price: {{unitPrice}}</li>
            {{/order.items}}
        </ul>
        <p>Total Amount: {{order.totalAmount}}</p>
        <p>Shipping Address:</p>
        <p>
            {{order.shippingAddress.street}},
            {{order.shippingAddress.city}},
            {{order.shippingAddress.state}},
            {{order.shippingAddress.zip}},
            {{order.shippingAddress.country}},
        </p>
        <p>Thank you for shopping with us!</p>
    </body>
</html>